{% extends 'base.html' %}

{% block content %}
    <p></p></br>
    <h1>{% block title %} Let's create a TagCloud {% endblock %}</h1>
    <p></p></br>
      <form style="display:inline">
    <form action='/' method=post enctype=multipart/form-data style="display:inline">
        <input type="file" name="file" id="file" class="inputfile" style="width: 0.1px;
    color: white; background-color: lightblue;  border-radius: 10px; display: inline-block;  margin: 4px 2px;
    cursor: pointer;" />
        <label for="file" style=" padding: 16px 32px;
        font-weight: 100; border-radius: 10px;margin: 4px 2px;  color: white; border: none;
         background-color: lightblue; font-family: inherit;font-size: inherit;
         line-height: inherit;display: inline-block; cursor: pointer;">Choose a file</label>

        <input type=submit value=Hochladen style=" background-color: lightblue; border: none;  color: white;  padding: 16px 32px;
        text-decoration: none;   margin: 4px 2px;   border-radius: 10px;   cursor: pointer;">
    </form>
    <form action="/create_WordCloud_direct" method="post" style=" display:inline" >
        <input type="submit" value="TagCloud erstellen" style=" background-color: lightblue; border: none;  color: white;  padding: 16px 32px;
        text-decoration: none;   margin: 4px 2px;   border-radius: 10px;   cursor: pointer;">
    </form>
    <form action="/upload_to_hdfs" method="post" style="display:inline">
        <input type="submit" value="HDFS Upload" style=" background-color: lightblue; border: none;  color: white;  padding: 16px 32px;
        text-decoration: none;   margin: 4px 2px;   border-radius: 10px;   cursor: pointer;">
    </form>
  </form>



{% endblock %}